* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins";
    background-color: #13171c;
    color: white;
}
.bienvenida-ver {
    height: 100%;
    /*margin: 72px 42px;*/
    text-align: center;
    font-family: "Open Sans";
    font-size: 48px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 40px;
    font-size: 30px;
}

@media (min-width:680px){
    .bienvenida-ver{
        padding: 10rem 7rem;
        flex-direction: row;
        justify-content: space-around;
        text-align: start;
        gap: 40px;
    }
}
.imagen-prueba{
    width: 219px;
    height: 211px;
    margin-top: -77px;
    margin-left: -57px;
}
@media (min-width: 680px){
    .imagen-prueba {
        display: flex;
        align-items: center;
    }
}

.result-item-content {
    width: 375px;
    height: 789px;
}

.template-welcome__name {
    width: 288px;
    height: 225px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 60px;
    line-height: 75px;
    text-align: center;

}




.contenedor-presentation {
    height: 100%;
    font-family: 'Poppins';
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #192130;
    gap: 3rem;
    padding: 5rem 2rem;
}

@media (min-width: 680px){
    .contenedor-presentation{
        flex-direction: row;
        justify-content: space-around;
        text-align: start;
        gap: 3rem;

    }
}

.contenedor-presentation__title{
    font-size: 2rem;
    text-align: start;
    margin: 0px;
    color:aqua;
}
@media (min-width: 680px){
    .contenedor-presentation__title{
        font-size: 45px;
        margin: 0px;
        text-align: start;
    }
}


.contenedor-presentation__about-me{
    font-size: 1rem;
    color: rgba(238, 238, 238, 0.75);
    
}

@media (min-width: 680px){
    .contenedor-presentation__about-me{
        max-width: 550px;
        font-size: 20px;
    }
}


.contenedor-presentation__img{
    height: 300px;
}

/* .service {
    background-image: url(/img/fondo-de-cards.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding-bottom: 20px;
}

.servicios {
    font-size: 3rem;
}

.contenedor-service {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.card {
    background-color: rgba(57, 62, 70, 0.5);
    padding: 2rem;
    border-radius: 16px;
    text-decoration: none;
    display: flex;
    max-width: 300px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
 */

